html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body.mindar-ui-overlay {
    background: transparent !important;
}

.ar-container {
    background: transparent !important;
}

.ar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}